@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url("//fonts.googleapis.com/earlyaccess/nanummyeongjo.css");
:root {
  --white-color: #FFF4EE;
  --black-color: #1F1B1B;
  --navy-color: #0A1F40;
  --banner-font-size: 4.5rem;
  --subtitle-font-size: 2.25rem;
  --banner-letter-spacing: -0.02em;
  --banner-line-height: 1;
  --banner-font-weight: 600;
  --title-font-family: "Nanum Myeongjo", serif;
  --body-font-family: "Pretendard";
  --nav-font-size: 1.125rem;
  --booking-font-size: 1.25rem;
  --subtitle-font-size: 1.75rem;
  --sec-title-font-size: 2.25rem;
  --sec-body-font-size: 1.125rem;
  --lightest-font-weight: 300;
  --light-font-weight: 300;
  --regular-font-weight: 400;
  --semibold-font-weight: 500;
  --bold-font-weight: 600;
  --sec05-font-size: 1rem;
}

.m-r-1 {
  margin-right: 1rem;
}

.p-t-14 {
  padding-top: 0.875rem;
}

.p-r-16 {
  padding-right: 3.25rem;
}

.p-t-16 {
  padding-top: 1rem;
}

.p-t-18 {
  padding-top: 1.125rem;
}

.p-t-20 {
  padding-top: 1.25rem;
}

.p-t-30 {
  padding-top: 1.7rem;
}

.bg-none {
  background: none;
}

.p-b-30 {
  padding-bottom: 1.7rem;
}

.p-l-65 {
  padding-left: 4.0625rem;
}

.p-l-80 {
  padding-left: 4.5rem;
}

.p-t-60 {
  padding-top: 3.75rem;
}

.p-l-60 {
  padding-left: 3.75rem;
}

.p-t-90 {
  padding-top: 5.625rem;
}

.p-t-120 {
  padding-top: 7.5rem;
}

.p-t-110 {
  padding-top: 6.875rem;
}

.p-r-100 {
  padding-right: 6.25rem;
}

.p-r-200 {
  padding-right: 16.5rem;
}

.p-b-50 {
  padding-bottom: 3.125rem;
}

.p-b-160 {
  padding-bottom: 10rem;
}

.bg-standard {
  background: url("../images/room-bg1.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bg-premier {
  background: url("../images/room-bg2.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bg-family {
  background: url("../images/room-bg3.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bg-king {
  background: url("../images/room-bg4.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#sec01-title {
  width: 100%;
  height: 45vh;
  background: url("../images/event-page-bg2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#sec01-title .container {
  width: 100%;
  height: 100vh;
}
#sec01-title h2 {
  color: var(--white-color);
  font-family: var(--title-font-family);
  font-size: 3.25rem;
  letter-spacing: 0.03em;
  font-weight: var(--bold-font-weight);
  padding-top: 9rem;
}
#sec01-title p {
  color: var(--white-color);
  font-family: var(--body-font-family);
  font-size: 1.25rem;
  letter-spacing: 0.03em;
  font-weight: var(--light-font-weight);
  padding-top: 2rem;
}

#sec02-slider {
  width: 100%;
  height: 100vh;
}
#sec02-slider .title-content-header {
  padding-top: 3rem;
}
#sec02-slider .title-content-header h2 {
  font-family: var(--title-font-family);
  font-size: 2.2rem;
  color: var(--navy-color);
  font-weight: var(--bold-font-weight);
  letter-spacing: 0.03em;
  padding-bottom: 0.05rem;
}
#sec02-slider .title-content-header p {
  font-family: var(--body-font-family);
  font-size: 1.125rem;
  color: var(--black-color);
  font-weight: var(--regular-font-weight);
  letter-spacing: 0.03em;
  padding-bottom: 2rem;
}
#sec02-slider .swiper-slide {
  position: relative;
}
#sec02-slider .swiper-slide .slide-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}
#sec02-slider .swiper-slide .slide-image img {
  border-radius: 3rem;
  z-index: 1;
}
#sec02-slider .swiper-slide .text-on-image {
  position: absolute;
  left: 5%;
  bottom: 10%;
  z-index: 10;
}
#sec02-slider .swiper-slide .text-on-image .button-content {
  gap: 0 0.5rem;
  padding-bottom: 0.2rem;
}
#sec02-slider .swiper-slide .text-on-image .button-content p {
  font-family: var(--body-font-family);
  color: var(--white-color);
  font-weight: var(--regular-font-weight);
  font-size: 1rem;
  letter-spacing: 0.05em;
  padding-top: 0.1rem;
  margin-bottom: 0;
}
#sec02-slider .swiper-slide .text-on-image .title-content {
  padding-bottom: 0.2rem;
}
#sec02-slider .swiper-slide .text-on-image .title-content h2 {
  font-family: var(--body-font-family);
  color: var(--white-color);
  font-weight: var(--regular-font-weight);
  font-size: 1.8rem;
  letter-spacing: 0.05em;
}
#sec02-slider .swiper-slide .text-on-image .calender-content {
  gap: 0 0.5rem;
}
#sec02-slider .swiper-slide .text-on-image .calender-content p {
  font-family: var(--body-font-family);
  color: var(--white-color);
  font-weight: var(--regular-font-weight);
  font-size: 1rem;
  letter-spacing: 0.05em;
  padding-top: 0.1rem;
}
#sec02-slider .swiper-button-prev {
  color: var(--white-color);
  left: 18%;
  top: 97%;
}
#sec02-slider .swiper-button-next {
  color: var(--white-color);
  right: 18%;
  top: 97%;
}
#sec02-slider .swiper-pagination {
  bottom: -20%;
}
#sec02-slider .swiper-pagination-bullet {
  background: #fff;
}

#sec03-event-contents {
  width: 100%;
  height: 170vh;
}
#sec03-event-contents .title-content-header {
  padding-top: 1rem;
}
#sec03-event-contents .title-content-header h2 {
  font-family: var(--title-font-family);
  font-size: 2.2rem;
  color: var(--navy-color);
  font-weight: var(--bold-font-weight);
  letter-spacing: 0.03em;
  padding-bottom: 0.05rem;
}
#sec03-event-contents .title-content-header p {
  font-family: var(--body-font-family);
  font-size: 1.125rem;
  color: var(--black-color);
  font-weight: var(--regular-font-weight);
  letter-spacing: 0.03em;
  padding-bottom: 2rem;
}
#sec03-event-contents .event-container {
  cursor: pointer;
}
#sec03-event-contents .event-container .img-content {
  width: 100%;
}
#sec03-event-contents .event-container .text-content .span-content {
  padding-top: 1rem;
}
#sec03-event-contents .event-container .text-content .span-content span {
  font-size: 1.125rem;
  font-family: var(--body-font-family);
  font-weight: var(--regular-font-weight);
  color: var(--black-color);
  padding-right: 0.5rem;
  letter-spacing: 0.05em;
}
#sec03-event-contents .event-container .text-content .title-content {
  padding-top: 0.5rem;
}
#sec03-event-contents .event-container .text-content .title-content h2 {
  font-size: 1.5rem;
  font-family: var(--body-font-family);
  font-weight: var(--semibold-font-weight);
  color: var(--navy-color);
  letter-spacing: 0.03em;
}
#sec03-event-contents .event-container .text-content .title-content p {
  font-size: 1.125rem;
  font-family: var(--body-font-family);
  font-weight: var(--regular-font-weight);
  color: #444444;
  letter-spacing: 0.03em;
}
#sec03-event-contents .event-container .text-content .button-content {
  gap: 0 1.5rem;
}
#sec03-event-contents .event-container .text-content .button-content .time-content {
  border: 1px solid var(--black-color);
  border-radius: 2rem;
  padding: 0.3125rem 0.9375rem;
}
#sec03-event-contents .event-container .text-content .button-content .time-content span {
  font-size: 1rem;
  color: var(--black-color);
  font-family: var(--body-font-family);
  font-weight: var(--regular-font-weight);
  letter-spacing: 0.03em;
}
#sec03-event-contents .event-container .text-content .button-content .guest-content {
  border: 1px solid var(--black-color);
  border-radius: 2rem;
  padding: 0.3125rem 0.9375rem 0.3125rem 0.5375rem;
}
#sec03-event-contents .event-container .text-content .button-content .guest-content span {
  font-size: 1rem;
  color: var(--black-color);
  font-family: var(--body-font-family);
  font-weight: var(--regular-font-weight);
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1400px) {
  #sec03-event-contents .row {
    gap: 0 10rem;
  }
}
@media screen and (max-width: 1024px) {
  #sec03-event-contents .row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}/*# sourceMappingURL=event.css.map */