@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url("//fonts.googleapis.com/earlyaccess/nanummyeongjo.css");
:root {
  --white-color: #FFF4EE;
  --black-color: #1F1B1B;
  --navy-color: #0A1F40;
  --banner-font-size: 4.5rem;
  --subtitle-font-size: 2.25rem;
  --banner-letter-spacing: -0.02em;
  --banner-line-height: 1;
  --banner-font-weight: 600;
  --title-font-family: "Nanum Myeongjo", serif;
  --body-font-family: "Pretendard";
  --nav-font-size: 1.125rem;
  --booking-font-size: 1.25rem;
  --subtitle-font-size: 1.75rem;
  --sec-title-font-size: 2.25rem;
  --sec-body-font-size: 1.125rem;
  --lightest-font-weight: 200;
  --light-font-weight: 300;
  --regular-font-weight: 400;
  --semibold-font-weight: 500;
  --bold-font-weight: 600;
  --extra-bold-font-weight: 700;
  --sec05-font-size: 1rem;
}

.m-r-1 {
  margin-right: 1rem;
}

.p-t-14 {
  padding-top: 0.875rem;
}

.p-r-16 {
  padding-right: 3.25rem;
}

.p-t-16 {
  padding-top: 1rem;
}

.p-t-18 {
  padding-top: 1.125rem;
}

.p-t-20 {
  padding-top: 1.25rem;
}

.p-t-30 {
  padding-top: 1.7rem;
}

.bg-none {
  background: none;
}

.p-b-30 {
  padding-bottom: 1.7rem;
}

.p-l-65 {
  padding-left: 4.0625rem;
}

.p-l-80 {
  padding-left: 4.5rem;
}

.p-t-60 {
  padding-top: 3.75rem;
}

.p-l-60 {
  padding-left: 3.75rem;
}

.p-t-90 {
  padding-top: 5.625rem;
}

.p-t-120 {
  padding-top: 7.5rem;
}

.p-t-110 {
  padding-top: 6.875rem;
}

.p-r-100 {
  padding-right: 6.25rem;
}

.p-r-200 {
  padding-right: 16.5rem;
}

.p-b-50 {
  padding-bottom: 3.125rem;
}

.p-b-160 {
  padding-bottom: 10rem;
}

.bg-standard {
  background: url("../images/room-bg1.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bg-premier {
  background: url("../images/room-bg2.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bg-family {
  background: url("../images/room-bg3.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bg-king {
  background: url("../images/room-bg4.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#sec01-title {
  width: 100%;
  background: url("../images/special-offer-bg1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 9rem;
}
#sec01-title .container {
  width: 100%;
}
#sec01-title h2 {
  color: var(--white-color);
  font-family: var(--title-font-family);
  font-size: 3.25rem;
  letter-spacing: 0.03em;
  font-weight: var(--bold-font-weight);
  padding-top: 9rem;
}
#sec01-title p {
  color: var(--white-color);
  font-family: var(--body-font-family);
  font-size: 1.25rem;
  letter-spacing: 0.03em;
  font-weight: var(--lightest-font-weight);
  padding-top: 2rem;
}

#sec02-slider {
  width: 100%;
  position: relative;
  padding-bottom: 3rem;
}
#sec02-slider .swiper-button-next {
  top: 65%;
  right: 10%;
  color: #824d1e;
}
#sec02-slider .swiper-button-prev {
  top: 65%;
  left: 10%;
  color: #824d1e;
}
#sec02-slider .title-content-header {
  padding-top: 3rem;
}
#sec02-slider .title-content-header h2 {
  font-family: var(--title-font-family);
  font-size: 2.2rem;
  color: var(--navy-color);
  font-weight: var(--bold-font-weight);
  letter-spacing: 0.03em;
  padding-bottom: 0.05rem;
}
#sec02-slider .title-content-header p {
  font-family: var(--body-font-family);
  font-size: 1.125rem;
  color: var(--black-color);
  font-weight: var(--lightest-font-weight);
  letter-spacing: 0.03em;
  padding-bottom: 2rem;
}
#sec02-slider .swiper-slide h2 {
  font-family: var(--title-font-family);
  font-size: 1.5rem;
  color: var(--black-color);
  font-weight: var(--extra-bold-font-weight);
  letter-spacing: 0.05em;
  padding-top: 1rem;
}
#sec02-slider .swiper-slide p {
  font-family: var(--body-font-family);
  font-size: 1.125rem;
  color: var(--black-color);
  font-weight: var(--lightest-font-weight);
  letter-spacing: 0.03em;
}
#sec02-slider .swiper-slide .calendar-table {
  gap: 0 0.5rem;
}
#sec02-slider .swiper-slide .date {
  color: #444;
}
#sec02-slider .swiper-pagination-fraction {
  top: 100%;
  color: #824d1e;
  font-size: 1.125rem;
  font-family: var(--body-font-family);
  font-weight: var(--regular-font-weight);
  letter-spacing: 0.03em;
}

#sec03-offer-content {
  width: 100%;
}
#sec03-offer-content .sec03-title h2 {
  font-family: var(--title-font-family);
  font-size: 2.2rem;
  color: var(--navy-color);
  font-weight: var(--bold-font-weight);
  letter-spacing: 0.03em;
  padding-bottom: 0.05rem;
}
#sec03-offer-content .sec03-title p {
  font-family: var(--body-font-family);
  font-size: 1.125rem;
  color: var(--black-color);
  font-weight: var(--lightest-font-weight);
  letter-spacing: 0.03em;
  padding-bottom: 2rem;
}
#sec03-offer-content .tab-bar ul {
  list-style: none;
  justify-content: right;
}
#sec03-offer-content .tab-bar ul li {
  font-size: 1rem;
  font-family: var(--body-font-family);
  font-weight: var(--regular-font-weight);
  color: var(--black-color);
  cursor: pointer;
}
#sec03-offer-content .tab-bar ul .border-right {
  padding-right: 1rem;
  padding-left: 1rem;
  border-right: 1px solid #444;
}
#sec03-offer-content .tab-bar ul .padding-left-element {
  padding-left: 1rem;
}
#sec03-offer-content .img-content {
  position: relative;
}
#sec03-offer-content .img-content img {
  width: 100%;
  height: auto;
}
#sec03-offer-content .img-content .category {
  position: absolute;
  width: 8rem;
  left: 0;
  top: 0;
  background: #f2ece6;
  display: flex;
  justify-content: center;
  align-items: center;
}
#sec03-offer-content .img-content .category p {
  font-family: var(--body-font-family);
  font-size: 1rem;
  font-weight: var(--regular-font-weight);
  letter-spacing: 0.03em;
  color: var(--black-color);
  padding-top: 0.9rem;
}
#sec03-offer-content .text-content-offer h3 {
  font-size: 1.8rem;
  font-family: var(--title-font-family);
  color: #5e3c21;
  font-weight: var(--extra-bold-font-weight);
  letter-spacing: 0.03em;
  padding-top: 1.5rem;
}
#sec03-offer-content .text-content-offer p {
  font-size: 1.125rem;
  font-family: var(--body-font-family);
  color: #444;
  font-weight: var(--light-font-weight);
  letter-spacing: 0.03em;
  padding-top: 1rem;
}
#sec03-offer-content .period {
  gap: 0 2rem;
  padding-top: 2rem;
}
#sec03-offer-content .period p {
  font-size: 1rem;
  font-family: var(--body-font-family);
  color: var(--black-color);
  font-weight: var(--regular-font-weight);
  letter-spacing: 0.03em;
}
#sec03-offer-content .period p span {
  font-weight: var(--bold-font-weight);
  padding-right: 1rem;
  color: #824d1e;
}
#sec03-offer-content .period .button-section button {
  background: none;
  border: 2px solid #824d1e;
  padding: 0.8rem 1.7rem;
  font-family: var(--body-font-family);
  font-size: 1.125rem;
  font-weight: var(--light-font-weight);
  letter-spacing: 0.03em;
}

/*Responsive Design for 1500px, 1200px, 992px, 768px, 576px, 348px*/
@media only screen and (max-width: 1500px) {
  #sec01-title {
    padding-bottom: 8rem;
  }
  #sec01-title h2 {
    font-size: 3rem;
    padding-top: 8rem;
  }
  #sec01-title p {
    font-size: 1.15rem;
    padding-top: 1.8rem;
  }
  #sec02-slider {
    padding-bottom: 3rem;
  }
  #sec02-slider .swiper-button-next {
    top: 57%;
    right: 2%;
    color: #824d1e;
  }
  #sec02-slider .swiper-button-prev {
    top: 57%;
    left: 2%;
    color: #824d1e;
  }
  #sec02-slider .title-content-header {
    padding-top: 2.8rem;
  }
  #sec02-slider .title-content-header h2 {
    font-size: 2.1rem;
  }
  #sec02-slider .title-content-header p {
    font-size: 1.1rem;
  }
  #sec02-slider .swiper-slide h2 {
    font-size: 1.4rem;
    padding-top: 1rem;
  }
  #sec02-slider .swiper-slide p {
    font-size: 1.085rem;
  }
  #sec02-slider .swiper-slide .calendar-table {
    gap: 0 0.5rem;
  }
  #sec02-slider .swiper-slide .date {
    color: #444;
  }
  #sec02-slider .swiper-pagination-fraction {
    top: 96%;
    color: #824d1e;
    font-size: 1.085rem;
  }
  #sec03-offer-content .sec03-title h2 {
    font-size: 2.1rem;
    padding-bottom: 0.15rem;
  }
  #sec03-offer-content .sec03-title p {
    font-size: 1.1rem;
    padding-bottom: 1.8rem;
  }
  #sec03-offer-content .img-content {
    position: relative;
  }
  #sec03-offer-content .img-content img {
    width: 100%;
    height: auto;
  }
  #sec03-offer-content .img-content .category {
    width: 18%;
  }
  #sec03-offer-content .img-content .category p {
    font-size: 1rem;
  }
  #sec03-offer-content .text-content-offer h3 {
    font-size: 1.6rem;
    padding-top: 1.5rem;
  }
  #sec03-offer-content .text-content-offer p {
    font-size: 1.1rem;
    padding-top: 1rem;
  }
  #sec03-offer-content .period {
    gap: 0 2rem;
    padding-top: 2rem;
  }
  #sec03-offer-content .period p {
    font-size: 1rem;
  }
  #sec03-offer-content .period .button-section button {
    padding: 0.7rem 1.5rem;
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 1440px) {
  #sec02-slider {
    padding-bottom: 3rem;
  }
  #sec02-slider .swiper-button-next {
    top: 57%;
    right: 1%;
    color: #824d1e;
  }
  #sec02-slider .swiper-button-prev {
    top: 57%;
    left: 1%;
    color: #824d1e;
  }
  #sec02-slider .title-content-header {
    padding-top: 2.8rem;
  }
  #sec02-slider .title-content-header h2 {
    font-size: 2.1rem;
  }
  #sec02-slider .title-content-header p {
    font-size: 1.1rem;
  }
  #sec02-slider .swiper-slide h2 {
    font-size: 1.4rem;
    padding-top: 1rem;
  }
  #sec02-slider .swiper-slide p {
    font-size: 1.085rem;
  }
  #sec02-slider .swiper-slide .calendar-table {
    gap: 0 0.5rem;
  }
  #sec02-slider .swiper-slide .date {
    color: #444;
  }
  #sec02-slider .swiper-pagination-fraction {
    top: 96%;
    color: #824d1e;
    font-size: 1.085rem;
  }
}
@media only screen and (max-width: 1400px) {
  #sec02-slider {
    padding-bottom: 3rem;
  }
  #sec02-slider .swiper-button-next {
    top: 57%;
    right: 5%;
    color: #824d1e;
  }
  #sec02-slider .swiper-button-prev {
    top: 57%;
    left: 5%;
    color: #824d1e;
  }
  #sec02-slider .title-content-header {
    padding-top: 2.8rem;
  }
  #sec02-slider .title-content-header h2 {
    font-size: 2.1rem;
  }
  #sec02-slider .title-content-header p {
    font-size: 1.1rem;
  }
  #sec02-slider .swiper-slide h2 {
    font-size: 1.4rem;
    padding-top: 1rem;
  }
  #sec02-slider .swiper-slide p {
    font-size: 1.085rem;
  }
  #sec02-slider .swiper-slide img {
    width: 99%;
  }
  #sec02-slider .swiper-slide .calendar-table {
    gap: 0 0.5rem;
  }
  #sec02-slider .swiper-slide .date {
    color: #444;
  }
  #sec02-slider .swiper-pagination-fraction {
    top: 96%;
    color: #824d1e;
    font-size: 1.085rem;
  }
  #sec03-offer-content .period .button-section button {
    padding: 0.7rem 1.1rem;
    font-size: 1rem;
  }
}
@media only screen and (max-width: 1200px) {
  #sec01-title {
    padding-bottom: 7.5rem;
  }
  #sec01-title h2 {
    font-size: 2.8rem;
    padding-top: 7.5rem;
  }
  #sec01-title p {
    font-size: 1.1rem;
    padding-top: 1.7rem;
  }
  #sec02-slider {
    padding-bottom: 3rem;
  }
  #sec02-slider .swiper-button-next {
    top: 57%;
    right: 5%;
  }
  #sec02-slider .swiper-button-prev {
    top: 57%;
    left: 5%;
  }
  #sec02-slider .title-content-header {
    padding-top: 2.5rem;
  }
  #sec02-slider .title-content-header h2 {
    font-size: 2rem;
  }
  #sec02-slider .title-content-header p {
    font-size: 1.05rem;
  }
  #sec02-slider .swiper-slide h2 {
    font-size: 1.3rem;
    padding-top: 1rem;
  }
  #sec02-slider .swiper-slide p {
    font-size: 1.075rem;
  }
  #sec02-slider .swiper-slide .calendar-table {
    gap: 0rem 1rem;
  }
  #sec02-slider .swiper-pagination-fraction {
    top: 96%;
    color: #824d1e;
    font-size: 1.075rem;
  }
  #sec03-offer-content .remove-padding-top {
    padding-top: 5rem;
  }
  #sec03-offer-content .sec03-title h2 {
    font-size: 2rem;
    padding-bottom: 0.15rem;
  }
  #sec03-offer-content .sec03-title p {
    font-size: 1.05rem;
    padding-bottom: 1.8rem;
  }
  #sec03-offer-content .img-content .category {
    width: 25%;
  }
  #sec03-offer-content .img-content .category p {
    font-size: 1rem;
  }
  #sec03-offer-content .text-content-offer h3 {
    font-size: 1.5rem;
    padding-top: 1.5rem;
  }
  #sec03-offer-content .text-content-offer p {
    font-size: 1rem;
    padding-top: 1rem;
  }
  #sec03-offer-content .period {
    gap: 0 2rem;
    padding-top: 2rem;
  }
  #sec03-offer-content .period p {
    font-size: 1rem;
    line-height: 170%;
  }
  #sec03-offer-content .period .button-section button {
    padding: 0.5rem 0.5rem;
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 1100px) {
  #sec01-title {
    padding-bottom: 7.5rem;
  }
  #sec01-title h2 {
    font-size: 2.8rem;
    padding-top: 7.5rem;
  }
  #sec01-title p {
    font-size: 1.1rem;
    padding-top: 1.7rem;
  }
  #sec02-slider {
    padding-bottom: 3rem;
  }
  #sec02-slider .swiper-button-next {
    top: 57%;
    right: 2%;
  }
  #sec02-slider .swiper-button-prev {
    top: 57%;
    left: 2%;
  }
  #sec02-slider .title-content-header {
    padding-top: 2.5rem;
  }
  #sec02-slider .title-content-header h2 {
    font-size: 2rem;
  }
  #sec02-slider .title-content-header p {
    font-size: 1.05rem;
  }
  #sec02-slider .swiper-slide h2 {
    font-size: 1.3rem;
    padding-top: 1rem;
  }
  #sec02-slider .swiper-slide p {
    font-size: 1.075rem;
  }
  #sec02-slider .swiper-slide .calendar-table {
    gap: 0rem 1rem;
  }
  #sec02-slider .swiper-pagination-fraction {
    top: 96%;
    color: #824d1e;
    font-size: 1.075rem;
  }
  #sec03-offer-content .remove-padding-top {
    padding-top: 5rem;
  }
  #sec03-offer-content .sec03-title h2 {
    font-size: 2rem;
    padding-bottom: 0.15rem;
  }
  #sec03-offer-content .sec03-title p {
    font-size: 1.05rem;
    padding-bottom: 1.8rem;
  }
  #sec03-offer-content .img-content .category {
    width: 25%;
  }
  #sec03-offer-content .img-content .category p {
    font-size: 1rem;
  }
  #sec03-offer-content .text-content-offer h3 {
    font-size: 1.5rem;
    padding-top: 1.5rem;
  }
  #sec03-offer-content .text-content-offer p {
    font-size: 1rem;
    padding-top: 1rem;
  }
  #sec03-offer-content .period {
    gap: 0 2rem;
    padding-top: 2rem;
  }
  #sec03-offer-content .period p {
    font-size: 1rem;
    line-height: 170%;
  }
  #sec03-offer-content .period .button-section button {
    padding: 0.5rem 0.5rem;
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 992px) {
  #sec01-title {
    padding-bottom: 7.5rem;
  }
  #sec01-title h2 {
    font-size: 2.8rem;
    padding-top: 7.5rem;
  }
  #sec01-title p {
    font-size: 1.1rem;
    padding-top: 1.7rem;
  }
  #sec02-slider {
    padding-bottom: 3rem;
  }
  #sec02-slider .swiper-button-next {
    top: 57%;
    right: 7%;
  }
  #sec02-slider .swiper-button-prev {
    top: 57%;
    left: 7%;
  }
  #sec02-slider .title-content-header {
    padding-top: 2.5rem;
  }
  #sec02-slider .title-content-header h2 {
    font-size: 2rem;
  }
  #sec02-slider .title-content-header p {
    font-size: 1.05rem;
  }
  #sec02-slider .swiper-slide h2 {
    font-size: 1.3rem;
    padding-top: 1rem;
  }
  #sec02-slider .swiper-slide p {
    font-size: 1.075rem;
  }
  #sec02-slider .swiper-slide .calendar-table {
    gap: 0rem 1rem;
  }
  #sec02-slider .swiper-pagination-fraction {
    top: 96%;
    color: #824d1e;
    font-size: 1.075rem;
  }
  #sec03-offer-content .remove-padding-top {
    padding-top: 5rem;
  }
  #sec03-offer-content .sec03-title h2 {
    font-size: 2rem;
    padding-bottom: 0.15rem;
  }
  #sec03-offer-content .sec03-title p {
    font-size: 1.05rem;
    padding-bottom: 1.8rem;
  }
  #sec03-offer-content .img-content .category {
    width: 25%;
  }
  #sec03-offer-content .img-content .category p {
    font-size: 1rem;
  }
  #sec03-offer-content .text-content-offer h3 {
    font-size: 1.5rem;
    padding-top: 1.5rem;
  }
  #sec03-offer-content .text-content-offer p {
    font-size: 1rem;
    padding-top: 1rem;
  }
  #sec03-offer-content .period {
    gap: 0 1rem;
    padding-top: 2rem;
  }
  #sec03-offer-content .period p {
    font-size: 1rem;
    line-height: 170%;
    letter-spacing: 0;
  }
  #sec03-offer-content .period .button-section button {
    padding: 0.5rem 0.5rem;
    font-size: 0.7rem;
  }
}
@media only screen and (max-width: 768px) {
  #sec01-title {
    padding-bottom: 7.5rem;
  }
  #sec01-title h2 {
    font-size: 2.8rem;
    padding-top: 7.5rem;
  }
  #sec01-title p {
    font-size: 1.1rem;
    padding-top: 1.7rem;
  }
  #sec02-slider {
    padding-bottom: 3rem;
  }
  #sec02-slider .swiper-button-next {
    top: 57%;
    right: 7%;
  }
  #sec02-slider .swiper-button-prev {
    top: 57%;
    left: 7%;
  }
  #sec02-slider .title-content-header {
    padding-top: 2.5rem;
  }
  #sec02-slider .title-content-header h2 {
    font-size: 2rem;
  }
  #sec02-slider .title-content-header p {
    font-size: 1.05rem;
  }
  #sec02-slider .swiper-slide h2 {
    font-size: 1.3rem;
    padding-top: 1rem;
  }
  #sec02-slider .swiper-slide p {
    font-size: 1.075rem;
  }
  #sec02-slider .swiper-slide .calendar-table {
    gap: 0rem 1rem;
  }
  #sec02-slider .swiper-pagination-fraction {
    top: 96%;
    color: #824d1e;
    font-size: 1.075rem;
  }
  #sec03-offer-content .remove-padding-top {
    padding-top: 5rem;
  }
  #sec03-offer-content .sec03-title h2 {
    font-size: 2rem;
    padding-bottom: 0.15rem;
  }
  #sec03-offer-content .sec03-title p {
    font-size: 1.05rem;
    padding-bottom: 1.8rem;
  }
  #sec03-offer-content .img-content .category {
    width: 25%;
  }
  #sec03-offer-content .img-content .category p {
    font-size: 1rem;
  }
  #sec03-offer-content .text-content-offer h3 {
    font-size: 1.5rem;
    padding-top: 1.5rem;
  }
  #sec03-offer-content .text-content-offer p {
    font-size: 1rem;
    padding-top: 1rem;
  }
  #sec03-offer-content .period {
    gap: 0 1rem;
    padding-top: 2rem;
  }
  #sec03-offer-content .period p {
    font-size: 1rem;
    line-height: 170%;
    letter-spacing: 0;
  }
  #sec03-offer-content .period .button-section button {
    padding: 0.5rem 0.5rem;
    font-size: 0.7rem;
  }
}/*# sourceMappingURL=offer.css.map */